.u-center-text {
  text-align: center !important;
}

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important;
}

.u-margin-bottom-medium {
  margin-bottom: 4rem !important;
}

.u-margin-bottom-big {
  margin-bottom: 8rem !important;
}

.u-margin-top-big {
  margin-top: 8rem !important;
}
.u-margin-top-huge {
  margin-top: 10rem !important;
}

.music {
  background-color: $bg-color;
  grid-area: music;
}

.section-about {
  padding: 3rem 5rem;
  &__img {
    width: 3rem;
    height: 3rem;
  }
}

.lyricsoligy-text-color {
  background-image: linear-gradient(to right, $color-grad-1, $color-grad-2);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 700;
}
.heading-primary {
  font-size: 3.5rem;
  letter-spacing: 0.2rem;
}
.heading-secondary {
  font-size: 2.6rem;
  font-weight: 700;
  text-transform: uppercase;
}
.paragraph {
  font-weight: 500;
  font-size: 1.6rem;
  &:not(:last-child) {
    margin-bottom: 2rem;
  }
}
