* {
  margin: 0;
  padding: 0;
}

*,
*::after,
*::before {
  box-sizing: inherit;
}

html {
  box-sizing: border-box;
  font-size: 62.5%;
}

body {
  font-family: "Roboto", sans-serif;
  margin: 0;
  padding: 0;
  background-color: linear-gradient(to right bottom, #ce58f5, #404be6);
}

.container {
  max-width: 120rem;
  min-height: 1170rem;
  margin: 4vh auto;
  background-color: #fff;
}

.header {
  &__logo {
    position: absolute;
    height: 3.5rem;
    display: block;
  }
}
