* {
  margin: 0;
  padding: 0; }

*,
*::after,
*::before {
  box-sizing: inherit; }

html {
  box-sizing: border-box;
  font-size: 62.5%; }

body {
  font-family: "Roboto", sans-serif;
  font-weight: 400;
  line-height: 1.6;
  margin: 0;
  padding: 0;
  background-image: linear-gradient(to bottom right, #ffd700, #008080);
  min-height: calc(100vh - 2 * 4vw);
  color: #615551; }

.container {
  border-radius: 10px;
  background-color: #fff;
  max-width: 120rem;
  min-height: 117rem;
  margin: 4vw auto;
  overflow: hidden;
  box-shadow: 0 2rem 6rem 0.5rem rgba(61, 61, 61, 0.2);
  display: grid;
  grid-template-rows: 10rem minmax(100rem, auto);
  grid-template-columns: 1fr 3fr;
  grid-template-areas: "header header" "list music"; }
  @media only screen and (max-width: 78.15em) {
    .container {
      max-width: 100%;
      margin: 0;
      border-radius: 0; } }

.svg-icon {
  stroke: currentColor;
  fill: none;
  stroke-width: 1.6; }

.btn, .search__btn {
  background-image: linear-gradient(to bottom right, #ffd700, #008080);
  border-radius: 10rem;
  border: none;
  text-transform: uppercase;
  color: #fff;
  cursor: pointer;
  display: flex;
  align-items: center;
  transition: all 0.3s; }
  .btn:hover, .search__btn:hover {
    transform: scale(1.1);
    box-shadow: 0 0rem 10rem rgba(61, 61, 61, 0.164); }
  .btn:focus, .search__btn:focus {
    outline: none;
    transform: scale(1.05); }

.btn {
  font-size: 1.5rem;
  padding: 1.5rem 3rem;
  font-weight: 600; }
  .btn svg {
    height: 2.25rem;
    width: 2.25rem;
    fill: currentColor; }

.message,
.error {
  max-width: 40rem;
  padding: 4rem 3rem;
  margin: 0 auto;
  display: flex; }
  .message svg,
  .error svg {
    width: 4.7rem;
    height: 4.7rem;
    color: #007c7c;
    transform: translateY(-0.3rem); }
  .message p,
  .error p {
    font-size: 1.8rem;
    margin-left: 2rem;
    line-height: 1.5;
    font-weight: 600;
    letter-spacing: 1px; }

.spinner {
  margin: 0 auto;
  width: 15rem;
  height: 8rem;
  --g1: conic-gradient(
    from 90deg at left 3px top 3px,
    #008080 90deg,
    #008080 0
  );
  --g2: conic-gradient(
    from -90deg at bottom 3px right 3px,
    #008080 90deg,
    #008080 0
  );
  background: var(--g1), var(--g1), var(--g1), var(--g2), var(--g2), var(--g2);
  background-position: left, center, right;
  background-repeat: no-repeat;
  animation: s9 1s infinite; }

@keyframes s9 {
  0% {
    background-size: 2rem 50%, 2rem 50%, 2rem 50%; }
  25% {
    background-size: 2rem 100%, 2rem 50%, 2rem 50%; }
  50% {
    background-size: 2rem 50%, 2rem 100%, 2rem 50%; }
  75% {
    background-size: 2rem 50%, 2rem 50%, 2rem 100%; }
  100% {
    background-size: 2rem 50%, 2rem 50%, 2rem 50%; } }

.header {
  background-color: #eceaea;
  grid-area: header;
  display: flex;
  align-items: center;
  justify-content: space-between; }
  .header__logo {
    display: block;
    height: 3.5rem;
    margin-left: 3rem; }

.search {
  background-color: #fff;
  display: flex;
  align-items: center;
  padding-left: 3rem;
  border-radius: 3rem;
  transition: all 0.5s; }
  .search:focus-within {
    transform: translateY(-0.3rem);
    box-shadow: 0 0.5rem 2rem rgba(0, 0, 0, 0.151); }
  .search__field {
    color: inherit;
    border: none;
    width: 30rem;
    font-size: 1.7rem;
    font-family: inherit;
    transition: width 0.5s; }
    .search__field:focus {
      outline: none; }
    .search__field::placeholder {
      color: #d3c7c3; }
  .search svg {
    width: 2.4rem;
    height: 2.4rem;
    stroke-width: 2.8; }
  .search__btn {
    padding: 1rem 2rem;
    font-weight: 400;
    font-family: inherit; }

.nav {
  align-self: stretch;
  margin-right: 2rem; }
  .nav__list {
    list-style: none;
    display: flex;
    height: 100%; }
  .nav__item {
    position: relative; }
  .nav__btn {
    height: 100%;
    justify-items: center;
    font-family: inherit;
    font-size: 1.6rem;
    color: #918581;
    font-weight: 700;
    padding: 0 1.5rem;
    background: none;
    border: none;
    cursor: pointer;
    text-transform: uppercase;
    transition: all 0.6s;
    display: flex;
    align-items: center; }
    .nav__btn svg {
      width: 3rem;
      height: 3rem;
      color: #008080;
      margin-right: 0.7rem; }
    .nav__btn:hover {
      background-color: #f9f5f3;
      color: #615551; }

.bookmarks {
  padding: 1rem 0;
  width: 40rem;
  background-color: #fff;
  position: absolute;
  right: -5rem;
  z-index: 10;
  box-shadow: 0.8rem 0.8rem 5rem 2rem rgba(97, 85, 81, 0.1);
  visibility: hidden;
  opacity: 0;
  transition: all 0.5s 0.2s; }
  .bookmarks__list {
    list-style: none; }
  .bookmarks:hover,
  .nav__btn--bookmarks:hover + .bookmarks {
    visibility: visible;
    opacity: 1; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.preview {
  animation: fadeIn 0.5s ease-in;
  -webkit-animation: fadeIn 0.5s ease-in; }
  .preview__link:link, .preview__link:visited {
    display: flex;
    padding: 1.5rem 3rem;
    text-decoration: none;
    border-right: 1px solid #fff;
    align-items: center;
    transition: all 0.3s;
    position: relative; }
    .preview__link:link:hover, .preview__link:visited:hover {
      background-color: #f2efee;
      transform: translateY(-2px); }
  .preview__data {
    display: grid;
    align-items: center;
    grid-template-columns: 1fr 2rem;
    row-gap: 1rem; }
  .preview__title {
    grid-column: 1/-1;
    font-size: 2rem;
    color: #008080;
    text-transform: capitalize;
    font-weight: 700;
    transition: all 0.8s ease-in-out;
    text-overflow: ellipsis;
    max-width: 20rem;
    overflow: hidden;
    white-space: nowrap; }
  .preview__artist-album {
    color: #918581;
    font-size: 1.5rem;
    text-transform: capitalize;
    font-weight: 500;
    transition: all 0.8s ease-in-out;
    text-overflow: ellipsis;
    max-width: 20rem;
    overflow: hidden;
    white-space: nowrap; }
    .preview__artist-album span {
      color: #008080; }

.search-results {
  grid-area: list;
  position: relative;
  padding: 2rem 0;
  display: flex;
  z-index: 10;
  flex-direction: column; }

.results {
  list-style-type: none;
  flex: 0 0 70%;
  margin-bottom: 2rem; }

.pagination {
  background: #f2efee;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 5rem;
  margin: 0 3rem;
  border-radius: 0.6rem;
  box-shadow: 0 0.8rem 2rem rgba(90, 97, 129, 0.05); }

.pages {
  list-style: none;
  display: flex; }
  .pages__numbers, .pages__btn, .pages__dots {
    display: flex;
    justify-content: center;
    align-items: center;
    margin: 0 0.5rem;
    font-size: 1.7rem;
    cursor: pointer;
    font-weight: 500; }
  .pages__dots {
    width: 2.6rem;
    height: 2.6rem;
    color: #918581;
    cursor: initial; }
  .pages__numbers {
    padding: 0.1rem 0.8rem;
    border-radius: 0.6rem;
    text-decoration: none;
    color: #615551; }
    .pages__numbers:hover {
      color: #007c7c; }
    .pages__numbers.active {
      color: #ffffff;
      background: #007c7c;
      font-weight: 500; }
  .pages__btn {
    cursor: pointer;
    border: none;
    color: #007c7c; }
    .pages__btn.active {
      color: #615551;
      pointer-events: initial; }
      .pages__btn.active:hover {
        color: #007c7c; }
    .pages__btn svg {
      width: 2.5rem;
      height: 2.5rem;
      fill: currentColor;
      font-size: 3rem; }

.u-center-text {
  text-align: center !important; }

.u-margin-bottom-small {
  margin-bottom: 1.5rem !important; }

.u-margin-bottom-medium {
  margin-bottom: 4rem !important; }

.u-margin-bottom-big {
  margin-bottom: 8rem !important; }

.u-margin-top-big {
  margin-top: 8rem !important; }

.u-margin-top-huge {
  margin-top: 10rem !important; }

@-webkit-keyframes fadeIn {
  from {
    opacity: 0; }
  to {
    opacity: 1; } }

.music {
  background-color: #eceaea;
  grid-area: music;
  position: relative; }
  .music .artist {
    height: 40rem;
    position: relative; }
    .music .artist::before {
      content: "";
      display: block;
      height: 100%;
      width: 100%;
      position: absolute;
      top: 0;
      left: 0;
      background-image: linear-gradient(to right bottom, #ffd700, #008080);
      opacity: 0.6; }
    .music .artist__image {
      width: 100%;
      height: 100%;
      display: block;
      object-fit: cover; }
  .music__details {
    display: flex;
    padding: 1rem 2rem;
    flex-direction: row;
    align-items: end; }
  .music__image {
    border-radius: 30%;
    width: 20rem;
    height: 20rem;
    object-fit: cover;
    box-shadow: -1rem -1rem 2rem -6px rgba(0, 0, 0, 0.2); }
  .music__info {
    padding: 1rem 1rem;
    font-size: 1.7rem;
    color: #000;
    font-weight: 500;
    text-transform: capitalize;
    letter-spacing: 1px; }
    .music__info > :first-child {
      font-size: 5.2rem;
      font-weight: 700;
      letter-spacing: -3px; }
  .music__lyrics {
    background-color: #f2efee;
    color: #615551;
    padding: 5rem 4rem;
    margin: 0 17rem;
    margin-bottom: 13rem;
    text-align: center;
    line-height: 4rem;
    letter-spacing: 1px;
    text-transform: capitalize; }
    .music__lyrics--body {
      white-space: pre-line; }
  .music__copyright {
    display: inline-block;
    font-size: 1.3rem;
    font-weight: 700; }
  .music__image-pixel {
    display: none;
    width: 3rem;
    height: 3rem; }

.section-about {
  padding: 3rem 5rem; }

.lyricsoligy-text-color {
  background-image: linear-gradient(to right, #ffd700, #008080);
  -webkit-background-clip: text;
  color: transparent;
  letter-spacing: 0.1rem;
  text-transform: uppercase;
  font-weight: 700; }

.heading-primary {
  font-size: 3.5rem;
  letter-spacing: 0.2rem; }

.heading-secondary {
  font-size: 2.6rem;
  font-weight: 700;
  text-transform: uppercase; }

.paragraph {
  font-weight: 500;
  font-size: 1.6rem; }
  .paragraph:not(:last-child) {
    margin-bottom: 2rem; }

.modal {
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  width: 100rem;
  border: none;
  animation: fade-out 0.5s;
  box-shadow: 0 4rem 6rem rgba(0, 0, 0, 0.25);
  border-radius: 9px;
  padding: 3rem 6rem; }
  .modal[open] {
    animation: fade-in 0.9s ease-out; }
  .modal[open]::backdrop {
    animation: backdrop-fade-in 0.7s ease-out forwards; }
  .modal__container {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 0 3rem; }
  .modal__column {
    display: grid;
    gap: 0.5rem; }
    .modal__column p {
      color: #615551;
      font-weight: 400;
      line-height: 3rem; }
    .modal__column li {
      margin: 0.7rem 3.5rem;
      list-style: outside; }
  .modal__heading {
    font-size: 2.7rem;
    font-weight: 700;
    text-transform: uppercase;
    margin-bottom: 1rem;
    grid-column: 1/-1; }
  .modal__heading-secondary {
    font-size: 1.8rem;
    font-weight: 500;
    text-transform: uppercase; }
  .modal__btn-close {
    font-family: inherit;
    color: #007c7c;
    position: absolute;
    top: 0.5rem;
    right: 1.6rem;
    font-size: 4rem;
    cursor: pointer;
    border: none;
    background: none; }

/* Animation keyframes */
@keyframes fade-in {
  0% {
    opacity: 0;
    display: none; }
  100% {
    opacity: 1;
    display: block; } }

@keyframes fade-out {
  0% {
    opacity: 1;
    display: block; }
  100% {
    opacity: 0;
    display: none; } }

@keyframes backdrop-fade-in {
  0% {
    backdrop-filter: blur(0px); }
  100% {
    backdrop-filter: blur(4px); } }
